{{define "title"}}Change Password{{end}} {{define "main"}}
<h2>Change Password</h2>
<form action="/account/password/update" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <div>
    <label for="currentPassword">Current password:</label>
    {{with .Form.FieldErrors.currentPassword}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" id="currentPassword" name="currentPassword" />
  </div>
  <div>
    <label for="newPassword">New password:</label>
    {{with .Form.FieldErrors.newPassword}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" id="newPassword" name="newPassword" />
  </div>
  <div>
    <label for="confirmNewPassword">Confirm new password:</label>
    {{with .Form.FieldErrors.confirmNewPassword}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" />
  </div>
  <div>
    <input type="submit" value="Change Password" />
  </div>
</form>
{{end}}
